/** CSS-Stylesheet
*	author: HTL Leonding
**/

/************* general setting *************/



* {
    margin: 0;
    padding: 0;
	box-sizing:border-box;
}
@font-face {
	font-family: "schrift";
	src: url(../font/Quicksand-Regular.ttf);
}
body{
	font-family: "schrift";
}


h1, h2, h3 { 
    text-align: center;
}
h1{
	font-size: 220%;
	text-transform: uppercase;
	margin: 0 0 0.5em 0;
}
h2 {
	font-size: 130%;

}
h3 {
	font-size: 130%;
	margin: 1em 0 0.5em 0;
}

h4 {
	font-size: 120%;
	margin:  1em 0;
}

h5 {
	font-size: 200%;
}

/************* Header *************/

header{
	padding: 2vw 15vw;
	background-color:black;
	color:white;
}



/************* Content Box *************/
.box_content{
	padding: 2em 4em 4em 4em;
	background-color:#7a6652;
	color:white;
}

/************* white box *************/
.box_white {
	width: 80%;
	margin: 2em auto;
	
}







/*************Cards in the white box ****************/
.box {
	margin: 3%;
	display: flex;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.box img {
	width: 40%;
	
	margin-right: 2%;
}

.box .text{
	
	width: 50%;
}

.text a {
	display: inline-block;
	background-color: #7a6652;
	color: white;
	text-decoration: none;
	transition: all 1s ease-in;
	padding: 2%;
	margin: 2%;
}
.text a:hover {
	transform: scale(1.3);
	background-color: black;
}

/************* Video *************/

.video{
	width: 60%;
	margin-left: 20%;
	
	
	
	
}
.video video {
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
	width: 100%;
	height: auto;
	margin-top: 1%;
	
}
/************* Footer *************/

footer{
	padding: 2vw 15vw;
	background-color:black;
	color:white;
}

footer p{
	font-size: 70%;
	text-align:center;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media  screen and (max-width: 700px) {
	.box {
		display: block;
		width: 100%;

	}
	.box img {
		width:100% ;
	}

	.text{
		display: inline;
		
		
	}
}


